{% extends 'users/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

					<div class="row align-items-center">
						<div class="col-md-4">
							<img src="{% static 'vendors/images/banner-img.png' %}" alt="" />
						</div>
						<div class="col-md-8">
							<h4 class="font-20 weight-500 mb-10 text-capitalize">
								Welcome to
								<div class="weight-600 font-30 text-blue"> EL106 Authentication System!</div>
							</h4>
							<p class="font-18 max-width-600"></p>
						</div>
					</div>

{% endblock %}
